<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="/css/mainpage.css">
    <style>
        #flex-1-1-1 {
            width: 18%;
            padding-left: 2%;
        }
        #flex-1-1-1-img {
            cursor: pointer;
            height: 100%;
        }
    </style>
</head>
<body style="margin: 0">
<div id="main">
    <div id="flex-1">
        <div id="flex-1-1">
            <div id="flex-1-1-box">
                <div id="flex-1-1-1">

                        <img id="flex-1-1-1-img" src="/img/technofix.svg" alt="">

                </div>
                <div id="flex-1-1-2"></div>
                <div id="flex-1-1-3">
                    <span id="flex-1-1-3-text">Увійти</span>
                </div>
            </div>
        </div>
        <div id="flex-1-2">
            <img id="flex-1-2-pic" src="/img/comp.svg" alt="">
        </div>
        <div id="flex-1-3">
            <div id="flex-1-3-button">
                <span id="flex-1-3-button-text">
                    Оформити заявку
                </span>
            </div>
        </div>
        <div id="flex-1-4">
            <div id="flex-1-4-block-1">
                <span id="flex-1-4-text-1">
                    МАЙСТЕРНЯ З РЕМОНТУ КОМП'ЮТЕРІВ
                </span>
            </div>
            <div id="flex-1-4-block-2">
                <span id="flex-1-4-text-2">
                    «ТЕХНОФІКС»
                </span>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>


<form method="POST" action="/" id="goMainPageForm">
    <input id="goMainPageTextEmail" type="hidden" name="email">
    <input id="goMainPageTextPassword" type="hidden" name="password">
</form>

<form method="POST" action="/login" id="loginAdminForm">
    <input id="loginAdminTextEmail" type="hidden" name="email">
    <input id="loginAdminTextPassword" type="hidden" name="password">
</form>

<form method="POST" action="/order" id="makeOrderForm">
    <input id="makeOrderTextEmail" type="hidden" name="email">
    <input id="makeOrderTextPassword" type="hidden" name="password">
</form>


<script src="js/redirect_links/main page.js"></script>
<script>
    buttonGetOrder = document.getElementById("flex-1-3-button");
    buttonGetOrderText = document.getElementById("flex-1-3-button-text");

    buttonGetOrder.addEventListener('click', function () {
        buttonGetOrder.style.width="44%"
        buttonGetOrder.style.height = "45px"
        buttonGetOrderText.style.fontSize = "30px"
        setTimeout(()=>{
            buttonGetOrder.style.width="50%"
            buttonGetOrder.style.height = "55px";
            buttonGetOrderText.style.fontSize = "36px"
        }, 100)
    })
    
</script>
</body>
</html>