@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

#footer {
    margin: auto;
    width: 950px;
    height: calc(100vh - 740px);
    background-color: rgb(31, 203, 214);
}

#main {
    margin: auto;
    background-color: rgb(31, 203, 214);
    width: 950px;
    height: 740px;
}

#flex-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#flex-1-1 {
    height: 4%;
    background-color: rgb(42, 135, 155);
    padding-top: 1%;
    padding-bottom: 1%;
}
#flex-1-1-box {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#flex-1-1-1 {
    padding-left: 2%;
    width: 18%;
}
#flex-1-1-1-img {
    cursor: pointer;
    height: 100%;
}
#flex-1-1-2 {
    width: 80%;
}


#flex-1-2 {
    padding-left: 2%;
    padding-top: 3%;
}

.button {
    cursor: pointer;
    background-color: #5982d2;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.input_text {
    font-family: "Roboto-Bold";
    font-size: 26px;
}

#flex-1-3 {
    padding-left: 2%;
    padding-top: 10%;
}

#flex-1-3-label_text {
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-size: 28px;
    color: white;
}

#flex-1-2-text_area {
    font-size: 20px;
}