@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

#footer {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    min-height: calc(100vh - 150px);
    background-color: rgb(31, 203, 214);
}

#main {
    margin: auto;
    background-color: rgb(31, 203, 214);
    width: 950px;
    height: 150px;
}

#flex-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#flex-1-1 {
    height: 19%;
    background-color: rgb(42, 135, 155);
    padding-top: 1%;
    padding-bottom: 1%;
}
#flex-1-1-box {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#flex-1-1-1 {
    padding-left: 2%;
    width: 18%;
}
#flex-1-1-1-img {
    cursor: pointer;
    height: 100%;
}

#flex-1-2 {
    padding-left: 3%;
    padding-top: 3%;
    height: 60%;
}



.button {
    cursor: pointer;
    background-color: #5982d2;
    border: none;
    font-size: 24px;
    font-family: "Roboto-Bold";
}

.advert_div {
    margin-left: 30px;
    margin-bottom: 17px;
    height: 250px;
    width: 80%;
    background-color: white;
    border-radius: 30px;
}


.flex-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flex-2-1 {
    padding-top: 10px;
    padding-left: 30px;
    height: 17%;
}

.flex-2-2 {
    height: 17%;
    padding-left: 30px;
}

.flex-2-3 {
    height: 40%;
    padding-left: 30px;
    padding-right: 30px;
}

.flex-2-4 {
    height: 24%;
    padding-left: 30px;
}

.flex-2-4-button {
    cursor: pointer;
    background-color: rgb(10, 57, 83);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Roboto-Bold";
}

.flex-2-1-text {
    color: rgb(10, 57, 83);
    font-family: "Roboto-Bold";
    font-size: 25px;
}

.flex-2-2-text {
    font-family: "Roboto-Bold";
    font-size: 21px;
}

.flex-2-3-text {
    color: #605e5e;
    font-family: "Roboto-Bold";
    font-size: 17px;
}